@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;600&display=swap");
body {
  background-image: url(assets/bg.jpg);
  background-size: 100%;
  padding-left: 10%;
  padding-right: 10%;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 100;
}
img {
  width: 15%;
  margin-top: 5%;
}
.titolo {
  font-size: 100px;
  margin-block: -30px;
  font-family: "Outfit", sans-serif;
}
.divTitolo {
  margin-bottom: 5%;
  margin-top: 10%;
}

input {
  background-color: blue;
}
button {
  background-color: #6cf8f8;
  -webkit-box-shadow: 0px 0px 41px 5px rgba(108, 248, 248, 0.66);
  box-shadow: 0px 0px 41px 5px rgba(108, 248, 248, 0.66);
  height: 50px;
  width: 160px;
  border: none;
}
h2 {
  color: #6e2166;
  font-size: 40px;
  margin-top: 30px;
}
.testo {
  font-size: 30px;
  font-weight: 100;
}
#flex {
  display: flex;
  justify-content: space-between;
  margin-block: 100px;
}
ul {
  margin-block: 50px;
}
#changePage {
  cursor: pointer;
}
span {
  font-size: larger;
}
#checkBox {
  color: transparent;
}
